.backdrop {
    background-color: lightblue;
    color: black;
}

.table_name {
    margin-right: 3em;
    margin-left: 7em;
    font-weight: bolder;
    height: 2em;
}

.datainputrow {
    display: inline;
    margin-right: 1em;
    padding: 0.5em;
    width: 15em;
    margin-bottom: 1em;
}

.sep_span {
    display: inline-block;
    width: 3em;
  }



.datainputfiletype {
    display: inline;
    margin-right: 1em;
    margin-left: 2em;
    padding: 0.5em;
    width: 9em;
    margin-bottom: 1em;
}

.datarequiredinput {
    display: inline;
    margin-left: 2em;
    margin-right: 1em;
    padding: 0.5em;
    width: 10em;
}

.removeButton {
    display: inline;
    margin-left: 2em;
    width: 2em;
    height: 2.8em;
}

.addButton {
    display: inline;
    width: 10em;
}

.submitButton {
    display: inline;
    width: 10em;
}

.successful_generation {
    color: green;
}

.failed_generation {
    color: red;
}
