.float_right {
    float:right;
}

.fd_btn{
    font-size: xx-large;
    padding-bottom: 0.4em;
}

.me-auto {
    font-size: large;
}

@media (max-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .fd_btn {
        margin: auto;
    }
    .float_right {
        margin: auto;
        background-color: red;
    }
    body {
        background-color: beige;
    }
}

@media (max-width:481px) {
    .fd_btn {
        margin: auto;
    }
    .float_right {
        background-color: red;
        margin: auto;
    }
}